@model CoreLibrary.Models.Book

@{
    ViewData["Title"] = "Book Update";
}

<h1>New Book</h1>
@using (Html.BeginForm("BookUpdate", "Book", FormMethod.Post))
{
    @Html.Label("Name")
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name,"",new{@style="color:red"})
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x=>x.Description,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Description,"",new{@style="color:red"})
    <br />
    @Html.Label("Stock")
    @Html.TextBoxFor(x=>x.Stock,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Stock,"",new{@style="color:red"})
    <br />
    @Html.Label("Writer")
    @Html.DropDownListFor(x=>x.Writer.WriterId,(List<SelectListItem>)ViewBag.writerSList,new {@class = "form-control"})
    <br />
    @Html.Label("Publisher")
    @Html.DropDownListFor(x=>x.Publisher.PublisherId,(List<SelectListItem>)ViewBag.publisherSList,new {@class = "form-control"})
    <br />
    @Html.Label("Image Url")
    @Html.TextBoxFor(x=>x.ImageUrl,new {@class="form-control"})
    <br />

    <button class="btn btn-primary" type="submit">Update</button>
}

